<h1>Welcome to one month rails!</h1>
<p>
	You've found the home page for the
	<%= link_to "One Month Rails","http://onemonthrails.com"%>
	application...
</p>
<p>
	<%= link_to "Sign up now","#"%>
</p>
<div class="footer">
	<small>
		<%= link_to "One Month Rails","http://onemonthrails.com"%>
		By <%= link_to "Mattan Griffel","http://Mattangriffel.com"%>
	</small>
</div>